.list {
    padding: 0 20px 20px;
    margin-top: 40px;
}

.list__item {
    list-style-type: none;
    border-bottom: 2px solid #eee;
    padding: 0;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
}

.list__paragraph--done {
    text-decoration: line-through;
}

.list__button {
    height: 30px;
    width: 30px;
    background-color: rgb(8, 131, 8);
    color: white;
    justify-self: center;
    border: none;
}

.list__button--remove {
    background-color: rgb(248, 50, 50);
}