.section {
    background-color: white;
    box-shadow: 1px -1px 5px 0px #DDDDDD;
}

.section__header {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0 0;
    font-size: 20px;
}

.section__header--withButtons {
    border-bottom: none;
    margin: 0;
    padding-left: 0;
}

.section__container {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin: 10px 20px 0;
}

@media (max-width:768px) {
    .section__container {
        flex-direction: column;
    }
}